  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="firstname" value="{{this.firstname}}" name="firstname" placeholder="Imię">
      <label for="floatingInput">Imie</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="surname" value="{{this.surname}}" name="surname" placeholder="Nazwisko">
      <label for="floatingInput">Nazwisko</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="username" value="{{this.email}}" name="username" placeholder="email@email.com" > 
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="phone" class="form-control" id="phone" value="{{this.phone}}" name="phone" placeholder="Telefon">
      <label for="floatingInput">Telefon</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>