
<h1>Login</h1>
    <div id="box" class="col-md d-flex justify-content-center align-items-center flex-column">
    <form action="/log" method="POST">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="username" name="username" placeholder="email@email.com" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" name="password" placeholder="Hasło"  required>
      <label for="floatingInput">Hasło</label>
  </div>
    <div class="form-floating mb-3">
    <button class="btn btn-primary " type="submit">Submit</button>
  </div>
  </form>
</div>