    <div id="box" class="col-md d-flex justify-content-center align-items-center flex-column">

    <form action="/auths" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Imię" required>
      <label for="floatingInput">Imię</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="surname" name="surname" placeholder="Nazwisko" required>
      <label for="floatingInput">Nazwisko</label>
  </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" name="password" placeholder="Hasło" minlength="8" required>
      <label for="floatingInput">Hasło</label>
  </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="username" name="username" placeholder="email@email.com" required>
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="phone" name="phone" placeholder="Telefon" required>
      <label for="floatingInput">Telefon</label>
  </div>
    <div class="form-floating mb-3">
    <button class="btn btn-primary " type="submit">Submit</button>
  </div>
  </form>
</div>